        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" >
                <li class="nav-item start index">
					<a href="/index">
					<i class="fa fa-commenting-o"></i>
					<span class="title">消息推送</span>
					</a>
				</li>
				<li class="heading">
					<h3 class="uppercase">轨迹定位</h3>
				</li>
				<!--
				<li class="nav-item " id="real_data">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="icon-feed"></i>
						<span class="title">实时数据</span>
						<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">-->
						<li class="nav-item gps_last ">
							<a href="gps_last" class="nav-link ">
								<i class="fa fa-wifi"></i>
								<span class="title">车辆状态</span>
							</a>
						</li>
						<li class="nav-item  gps_oil_data">
							<a href="gps_oil_data" class="nav-link ">
								<i class="fa fa-bar-chart"></i>
								<span class="title">实时油量</span>
							</a>
						</li>
						<li class="nav-item  gps_oil_add">
							<a href="gps_oil_add" class="nav-link ">
								<i class="fa fa-battery-4"></i>
								<span class="title">加油记录</span>
							</a>
						</li>
						<li class="nav-item  gps_oil_leak">
							<a href="gps_oil_leak" class="nav-link ">
								<i class="fa fa-battery-empty"></i>
								<span class="title">漏油记录</span>
							</a>
						</li>
						<li class="nav-item gps_alarm">
							<a href="gps_alarm" class="nav-link ">
								<i class="fa fa-volume-up"></i>
								<span class="title">短信告警</span>
							</a>
						</li>
						<li class="nav-item gps_point ">
							<a href="gps_point" class="nav-link ">
								<i class="fa fa-paper-plane-o"></i>
								<span class="title">区间轨迹</span>
							</a>
						</li>
						<li class="nav-item  gps_traffic">
							<a href="gps_traffic" class="nav-link ">
								<i class="fa fa-paper-plane"></i>
								<span class="title">行驶轨迹</span>
							</a>
						</li>
					<!--</ul>					
				</li>		-->		
				<!--<li class="nav-item  " id="setting">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="icon-settings"></i>
						<span class="title">系统设置</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">-->
			</ul>
			<ul id="sys_setting" class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
					<li class="heading">
						<h3 class="uppercase">系统设置</h3>
					</li>
					<li class="nav-item  group">
						<a href="group" class="nav-link ">
							<i class="fa fa-group"></i>
							<span class="title">工作组</span>
						</a>
					</li>						
					<li class="nav-item  vehicle">						
						<a href="vehicle" class="nav-link ">
							<i class="fa fa-car"></i>
							<span class="title">车辆设置</span>
						</a>
					</li>
					<li class="nav-item  member">						
						<a href="member" class="nav-link ">
							<i class="fa fa-user"></i>
							<span class="title">人员设置</span>
						</a>
					</li>											
					<!--</ul>
				</li>-->
              </ul>
            <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
          
          