<!DOCTYPE html>
<html>

<head>
    <title>《麻辣英雄》-幻想国史手游-官方网站</title>
    <meta charset="utf-8">
    <meta name="description" content="3D幻想国史手游《麻辣英雄》、百位历史英雄、3D画面热血战斗、独创插入式主角大招、互动式情景关卡、“0“价抽将，拒绝跳坑，邀您加入《麻辣英雄》幻想热血世界!">
    <meta name="keywords" content="麻辣英雄,手游,官网,下载,礼包,游戏">
    <meta name="baidu-site-verification" content="CwLZl5inou">
    <link rel="shortcut icon" href="http://r.syyx.com/mlyx/mlyx.ico">
    <link rel="stylesheet" href="http://s.syyx.com/nycs/plugin/default_page_plugin/jquery-ui-1.8.13.custom.css">
    <link rel="stylesheet" href="http://s.syyx.com/nycs/plugin/light-box/jquery.lightbox-0.5.css">
    <link rel="stylesheet" href="/stylesheets/game/main.css">
</head>

<body><img name="logo" src="http://r.syyx.com/mlyx/logo.jpg" class="logo">
    <img name="logo" src="http://r.syyx.com/mlyx/logo2.jpg"  class="logo">
        <div class="container">
            <div class="main"><img src="http://r.syyx.com/mlyx/guide/icon.png" class="icon">
                <a href="/index" target="_blank" hidefocus="true"
                    class="home"></a>
                    <a href="/game" target="_blank" hidefocus="true" class="game"></a>
                    <a href="/news" target="_blank" hidefocus="true" class="news"></a>
                    <a href="/video" target="_blank" hidefocus="true" class="video"></a>
                    <a href="http://bbs.mlyx.syyx.com/forum.php" target="_blank" hidefocus="true" class="bbs"></a>
                    <a href="https://itunes.apple.com/cn/app/ma-la-ying-xiong/id986266831" target="_blank" hidefocus="true"
                        class="apple"></a>
                        <a href="http://v.mlyx.syyx.com/download/mlyx_sy.apk" hidefocus="true" class="android"></a>
                        <a href="http://v.mlyx.syyx.com/download/MLYX_SYI.ipa" hidefocus="true" class="jailbreak"></a>
                        <a href="javascript:void(0)" class="v_btn"></a>
                        <a href="http://mlyx.syyx.com/news/40344858" target="_blank" hidefocus="true" class="event"><img src="http://r.syyx.com/_att/adminmlyx_img/1438654113869.jpeg"></a>
                        <div id="tabs_picture_news">
                            <ul>
                                <li>
                                    <a href="#picture_news0"></a>
                                </li>
                                <li>
                                    <a href="#picture_news1"></a>
                                </li>
                                <li>
                                    <a href="#picture_news2"></a>
                                </li>
                                <li>
                                    <a href="#picture_news3"></a>
                                </li>
                                <li>
                                    <a href="#picture_news4"></a>
                                </li>
                            </ul>
                            <div id="picture_news0">
                                <a href="http://mlyx.syyx.com/news/40392858" target="_blank" hidefocus="true"><img src="http://r.syyx.com/_att/adminmlyx_img/1439865345150.jpeg"></a>
                            </div>
                            <div id="picture_news1">
                                <a href="http://mlyx.syyx.com/news/40344858" target="_blank" hidefocus="true"><img src="http://r.syyx.com/_att/adminmlyx_img/1438654071441.jpeg"></a>
                            </div>
                            <div id="picture_news2">
                                <a href="http://mlyx.syyx.com/news/40335258" target="_blank" hidefocus="true"><img src="http://r.syyx.com/_att/adminmlyx_img/1438307776400.jpeg"></a>
                            </div>
                            <div id="picture_news3">
                                <a href="http://mlyx.syyx.com/news/40326458" target="_blank" hidefocus="true"><img src="http://r.syyx.com/_att/adminmlyx_img/1438135286146.jpeg"></a>
                            </div>
                            <div id="picture_news4">
                                <a href="http://mlyx.syyx.com/news/40188858" target="_blank" hidefocus="true"><img src="http://r.syyx.com/_att/adminmlyx_img/1435588513742.jpeg"></a>
                            </div>
                        </div>
                        <a href="/news?type=more" target="_blank" hidefocus="true" class="more_news"></a>
                        <div id="news_news">
                            <ul>
                                <li v-for = "item in DataList">
                                    <a href="http://mlyx.syyx.com/news/{{item.id}}" target="_blank" hidefocus="true"><span class="type">{{item.Type}} </span><span>{{item.Title}}</span></a><span>{{item.Time}}</span>
                                </li>                               
                            </ul>
                        </div>
                        <div class="copy_right">文网文：文网游备字〔2015〕Ｍ-RPG 0076 号 | 游戏版号：新广出审【2015】73号 | 增值电信业务经营许可证： 粤B2-20080061<br>文网文经营许可证：粤网文[2012]0765-119号
                            | 电话：0755-86360633 | Copyright@2007-2015 深圳市尚游网络科技有限公司 版权所有
                            <a href="http://www.syyx.com/" target="_blank" hidefocus="true" class="feet_logo"></a>
                        </div>
            </div>
            <div class="right_panel fixed-top"></div>
        </div>
        <div id="pop_flash_dialog" class="disnone"></div>
        <script src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js"></script>
        <script src="http://s1.syyx.com/plugins/jqueryUI/jquery_ui_1.8.18/jquery-ui-1.8.18.custom.min.js"></script>
        <script src="/javascripts/game/main.js"></script>
        <!--div class="disnone">
            <script src="http://s4.cnzz.com/stat.php?id=1254837125&amp;web_id=1254837125" type="text/javascript"></script>
        </div-->
</body>

</html>