 
<%- include ../shared/_header %>
 
</head>

<body class="page-header-fixed" style="background-color:#ffffff;">
    <div  class="box-body chart-responsive"> 
      <div class="tiles">
          <div class="tile bg-purple">

						<div class="tile-body">
							<i class="fa fa-car"></i>
						</div>

						<div class="tile-object">
							<div class="name">
								加油记账
							</div>							
						</div>
					</div>
		  	<div class="tile bg-green">
				<div class="tile-body">
					<i class="icon-calendar"></i>
				</div>
				<div class="tile-object">
					<div class="name">
						我的设备
					</div>
				
				</div>
			</div>
			<div class="tile bg-blue">
				<div class="tile-body">
					<i class="icon-bar-chart"></i>
				</div>
				<div class="tile-object">
					<div class="name">
						我的油票
					</div>	
				</div>
			</div>
					
			<div class="tile bg-blue-hoki">
				<div class="tile-body">
					<i class="icon-bar-chart"></i>
				</div>
				<div class="tile-object">
					<div class="name">
						实时查询
					</div>						
				</div>
			</div>

			<div class="tile bg-green">
			<div class="tile-body">
				<i class="icon-briefcase"></i>
			</div>
			<div class="tile-object">
				<div class="name">
					加油记录
				</div>
			
			</div>
		</div>

			

			<div class="tile bg-red">
				<div class="tile-body">
					<i class="icon-bar-chart"></i>
				</div>
				<div class="tile-object">
					<div class="name">
						漏油告警
					</div>						
				</div>
			</div>
    </div>
     
  </body>
<%- include ../shared/_scripts %>
<%- include ../shared/_footer %>
<script>
	$(function(){
        $(".bg-purple").click(function(){location.href='oil_ticket/m_fuel';});
		$(".bg-green").click(function(){location.href='driver_vhc/m_mylist';});
		$(".bg-blue").click(function(){location.href='oil_ticket/m_mylist';});
		$(".bg-blue-hoki").click(function(){location.href='traffic/m_index';});
		$(".bg-green").click(function(){location.href='gps_oil/m_add_index';});
		$(".bg-red").click(function(){location.href='gps_oil/m_leak_index';});

	})
</script>