        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" >
                <li class="nav-item start index">
					<a href="/index">
					<i class="fa fa-commenting-o"></i>
					<span class="title">消息推送</span>
					</a>
				</li>
				<li class="heading">
					<h3 class="uppercase">我的菜单</h3>
				</li>
	 			<li class="nav-item  member">
					<a href="/member" class="nav-link ">
						<i class="fa fa-user"></i>
						<span class="title">代理信息</span>
					</a>
				</li>
				<li class="nav-item  orders-pricing">
					<a href="/orders/pricing" class="nav-link ">
						<i class="fa fa-user"></i>
						<span class="title">我要代理</span>
					</a>
				</li>
				<li class="nav-item  orders-pricing">
					<a href="/orders/pricing" class="nav-link ">
						<i class="fa fa-user"></i>
						<span class="title">补货下单</span>
					</a>
				</li>
				<li class="nav-item  orders-list">
					<a href="/orders/list" class="nav-link ">
						<i class="fa fa-bar-chart"></i>
						<span class="title">订单信息</span>
					</a>
				</li>

				 
			</ul>
			<ul id="sys_setting" class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
					<li class="heading">
						<h3 class="uppercase">系统设置</h3>
					</li>
					<li class="nav-item  news">
						<a href="news" class="nav-link ">
							<i class="fa fa-weixin"></i>
							<span class="title">代理设置</span>
						</a>
					</li>
					<!--</ul>
				</li>-->
              </ul>
            <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
