<!DOCTYPE html>
<html>
  <head>
    <title>WEB_UI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
      
    <!-- BEGIN GLOBAL MANDATORY STYLES -->    
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>	
    <!-- END GLOBAL MANDATORY STYLES -->
    
    <!-- BEGIN THEME STYLES -->
    <link href="/stylesheets/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="/stylesheets/themes/darkblue.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/custom.css" rel="stylesheet" type="text/css"/>
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
 