<div id="searchModal" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#searchModal"></a>
        <h1 class="title">核对成本</h1>
    </header>

    <div class="content">
        <form class="input-group" id="search">
            <ul class="table-view">
                <li class="table-view-cell over-show">选择车辆：<select id="mulVehicle" class="multiselect"  multiple="multiple" ></select> </li>
                <li class="table-view-cell begin-time">
                    <button class="btn btn-positive" style="width:60px;height:40px;right:25px;">开始</button><span >开始时间</span>：<input class="input-width"  type="datetime-local" name="begintime" value=""  style="width:auto;border-bottom:0;" readOnly="true">
                </li>
                <li class="table-view-cell end-time">
                    <button class="btn btn-negative" style="width:60px;height:40px;right:25px;">结束</button><span >结束时间</span>：<input class="input-width"  type="datetime-local" name="endtime" value="" style="width:auto;border-bottom:0;" readOnly="true" >
                </li>
                <li class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">单位油价：</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input price" type="number" pattern="[0-9]*" placeholder="请输入单位油价">
                    </div>
                </li>
                <li class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">该趟路费：</label></div>
                    <div class="weui-cell__bd ">
                        <input class="weui-input fare" type="number" pattern="[0-9]*" placeholder="请输入该趟路费">
                    </div>
                </li>
                <li class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">驾照类型：</label></div>
                    <div class="weui-cell__hd">
                        <select class="weui-select model license" >
                            <option value="1" >请选择驾照类型</option>
                            <option value="2" >A照</option>
                            <option value="3" >B照</option>
                            <option value="4" >C照</option>
                        </select>
                    </div>
                </li>
                <li class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">车辆类型：</label></div>
                    <div class="weui-cell__hd">
                        <select class="weui-select model car">
                            <option value="1">请选择车辆类型</option>
                            <option value="2">东风</option>
                            <option value="3">解放</option>
                            <option value="4">威铃</option>
                        </select>
                    </div>
                </li>
            </ul>
            <button id="btnSearch" class="btn btn-primary btn-block">计算</button>
        </form>
    </div>
</div>
<div id="loading">
    <img src="/images/loading.gif" alt="loading" />
</div>