
<%- include ./shared/_header %>    
<%- include ./shared/_top %>   

    <!-- Make sure all your bars are the first things in your <body> -->
    


	<div class="weui-tab">
			<header class="demos-header">
      <h1 class="demos-title">鼎丰泰达-货车油管家</h1>
    </header>
		<div class="weui-tab__bd">
			<div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
					<div class="weui-grids">
						<a href="gps_last" class="weui-grid js_grid">
							<div class="weui-grid__icon">
								<img src="images/icon_nav_article.png" alt="">
							</div>
							<p class="weui-grid__label">
								车辆状态
							</p>
						</a>
						<a href="/oil_ticket" class="weui-grid js_grid">
							<div class="weui-grid__icon">
								<img src="images/icon_nav_calendar.png" alt="">
							</div>
							<p class="weui-grid__label">
								油票核对
							</p>
						</a>
						<a href="/cost_check" class="weui-grid js_grid">
							<div class="weui-grid__icon">
								<img src="images/icon_nav_select.png" alt="">
							</div>
							<p class="weui-grid__label">
								成本核算
							</p>
						</a>
						<a href="gps_oil_add" class="weui-grid js_grid">
							<div class="weui-grid__icon">
								<img src="images/icon_nav_button.png" alt="">
							</div>
							<p class="weui-grid__label">
								加油记录
							</p>
						</a>
						<a href="gps_oil_leak" class="weui-grid js_grid">
							<div class="weui-grid__icon">
								<img src="images/icon_nav_tab.png" alt="">
							</div>
							<p class="weui-grid__label">
								漏油告警
							</p>
						</a>
						<a href="gps_point" class="weui-grid js_grid">
							<div class="weui-grid__icon">
								<img src="images/icon_nav_swiper.png" alt="">
							</div>
							<p class="weui-grid__label">
								区间轨迹
							</p>
						</a>
						<a href="gps_traffic" class="weui-grid js_grid">
							<div class="weui-grid__icon">
								<img src="images/icon_nav_city.png" alt="">
							</div>
							<p class="weui-grid__label">
								行驶轨迹
							</p>
						</a>
						<a href="news" class="weui-grid js_grid">
							<div class="weui-grid__icon">
								<img src="images/icon_nav_dialog.png" alt="">
							</div>
							<p class="weui-grid__label">
								新闻公告
							</p>
						</a>
					</div>
			</div>
			<div id="tab2" class="weui-tab__bd-item">
					<div class="weui-grids">
						<a href="password" class="weui-grid js_grid">
							<div class="weui-grid__icon">
								<img src="images/icon_nav_panel.png" alt="">
							</div>
							<p class="weui-grid__label">
								修改密码
							</p>
						</a>
						<a href="users/logout" class="weui-grid js_grid">
							<div class="weui-grid__icon">
								<img src="images/icon_nav_picker.png" alt="">
							</div>
							<p class="weui-grid__label">
								退出
							</p>
						</a>
					</div>
			</div>
			
		</div>
		<div class="weui-tabbar">						
				<a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
					<div class="weui-tabbar__icon">
						<img src="./images/icon_nav_article.png" alt="">
					</div>
					<p class="weui-tabbar__label">主页</p>
				</a>
				<a href="#tab2" class="weui-tabbar__item">
					<div class="weui-tabbar__icon">
						<img src="./images/icon_nav_cell.png" alt="">
					</div>
					<p class="weui-tabbar__label">设置</p>
				</a>
		</div>
  </div>
	
	<%- include ./shared/_scripts %>
<%- include ./shared/_footer %>

