                <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
              <ul class="page-sidebar-menu page-sidebar-menu-compact page-sidebar-menu-hover-submenu" data-auto-scroll="true" data-slide-speed="200">                            
                <li class="start ">
					<a href="/index">
					<i class="icon-home"></i>
					<span class="title">导航菜单</span>
					</a>
				</li>
				<!--<li>
					<a href="/gps_data">
					<i class="icon-star"></i>
					<span class="title">基础数据</span>
					<span class="arrow"></span>
					</a>
				</li>
				<li name="quality">
					<a href="/gps_quality">
					<i class="icon-star"></i>
					<span class="title">油品分析</span>
					<span class="arrow"></span>
					</a>
				</li>-->
				<!--<li name="oil">
					<a href="gps_quality">
					<i class="icon-star"></i>
					<span class="title">油量分析</span>
					<span class="arrow"></span>
					</a>
				</li>-->
				<li name="oil">
					<a href="/vhc_online">
					<i class="icon-star"></i>
					<span class="title">掉线报警</span>
					<span class="arrow"></span>
					</a>
				</li>
				<li name="oil">
					<a href="/oil_vhc_dv">
					<i class="icon-star"></i>
					<span class="title">漏油报警</span>
					<span class="arrow"></span>
					</a>
				</li>
				
				<li name="oil">
					<a href="/vehicle_status">
					<i class="icon-star"></i>
					<span class="title">车辆状态</span>
					<span class="arrow"></span>
					</a>
				</li>

				<li name="oil">
					<a href="/oil_ticket">
					<i class="icon-star"></i>
					<span class="title">油票核对</span>
					<span class="arrow"></span>
					</a>
				</li>
				
				<li name="daily_report">
					<a href="/daily_report">
					<i class="icon-star"></i>
					<span class="title">成本核算</span>
					<span class="arrow"></span>
					</a>
				</li>
				<li name="gps_alarm">
					<a href="/gps_alarm">
					<i class="icon-star"></i>
					<span class="title">报警短信</span>
					<span class="arrow"></span>
					</a>
				</li>
				<li name="real_data">
					<a href="/traffic">
					<i class="icon-star"></i>
					<span class="title">实时数据</span>
					<span class="arrow"></span>
					</a>
				</li>
				<li name="oil_realtime">
					<a href="/gps_oil/realtime">
					<i class="icon-star"></i>
					<span class="title">实时油量</span>
					<span class="arrow"></span>
					</a>
				</li>
				<!--
				<li name="oil">
					<a href="/daily_report/create_report">
					<i class="icon-star"></i>
					<span class="title">数据计算</span>
					<span class="arrow"></span>
					</a>
				</li>
				
				<li>
					<a href="javascript:;">
					<i class="icon-settings"></i>
					<span class="title">系统设置</span>
					<span class="arrow "></span>
					</a>	
					<ul class="sub-menu">
						<li>
							<a href="#">
							<i class="icon-home"></i>
							主页</a>
						</li>
						<li>
							<a href="#">
							<i class="icon-lock"></i>
							退出</a>
						</li>
						 
					</ul>
				</li>	
				-->
              </ul>
              <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
          
          