<!DOCTYPE html>
<html>

<head>
    <title>####游戏</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="游戏内容描述" name="description" />
    <meta content="游戏关键字描述" name="keywords" />
    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="shortcut icon" href="http://r.syyx.com/mlyx/mlyx.ico" type="image/x-icon">
    <link href="/stylesheets/game/main.css" rel="stylesheet" type="text/css" />
    
    <!-- END GLOBAL MANDATORY STYLES -->

    <body>
        <div class="container">
            <div class="content">
                <a href="/index" hidefocus="true" target="_blank" class="to_index"></a>
                <div class="nav">
                    <a href="javascript:void(0)" hidefocus="true" class="one active"></a>
                    <a href="javascript:void(0)" hidefocus="true" class="two"></a>
                    <a href="javascript:void(0)" hidefocus="true" class="three"></a>
                    <a href="javascript:void(0)" hidefocus="true" class="four"></a>
                    <a href="javascript:void(0)" hidefocus="true" class="five"></a>
                </div><img src="http://r.syyx.com/mlyx/game/syyx.jpg" class="syyx">
                <div class="copy_right">文网文：文网游备字〔2015〕Ｍ-RPG 0076 号 | 游戏版号：新广出审【2015】73号 | 增值电信业务经营许可证： 粤B2-20080061<br>文网文经营许可证：粤网文[2012]0765-119号
                    | 电话：0755-86360633 | Copyright@2007-2015 深圳市尚游网络科技有限公司 版权所有
                    <a href="http://www.syyx.com/" target="_blank" hidefocus="true" class="feet_logo"></a>
                </div>
            </div>
            <div class="fullpage">
                <div class="section one">
                    <div class="content">
                        <a href="https://itunes.apple.com/cn/app/ma-la-ying-xiong/id986266831" hidefocus="true" target="_blank"
                            class="apple"></a>
                            <a href="http://v.mlyx.syyx.com/download/mlyx_sy.apk" hidefocus="true" class="android"></a>
                            <a href="http://v.mlyx.syyx.com/download/MLYX_SYI.ipa" hidefocus="true" class="jailbreak"></a>
                    </div>
                </div>
                <div class="section two">
                    <div class="content">
                        <a href="https://itunes.apple.com/cn/app/ma-la-ying-xiong/id986266831" hidefocus="true" target="_blank"
                            class="apple"></a>
                            <a href="http://v.mlyx.syyx.com/download/mlyx_sy.apk" hidefocus="true" class="android"></a>
                            <a href="http://v.mlyx.syyx.com/download/MLYX_SYI.ipa" hidefocus="true" class="jailbreak"></a>
                    </div>
                </div>
                <div class="section three">
                    <div class="content">
                        <a href="https://itunes.apple.com/cn/app/ma-la-ying-xiong/id986266831" hidefocus="true" target="_blank"
                            class="apple"></a>
                            <a href="http://v.mlyx.syyx.com/download/mlyx_sy.apk" hidefocus="true" class="android"></a>
                            <a href="http://v.mlyx.syyx.com/download/MLYX_SYI.ipa" hidefocus="true" class="jailbreak"></a>
                    </div>
                </div>
                <div class="section four">
                    <div class="content">
                        <a href="https://itunes.apple.com/cn/app/ma-la-ying-xiong/id986266831" hidefocus="true" target="_blank"
                            class="apple"></a>
                            <a href="http://v.mlyx.syyx.com/download/mlyx_sy.apk" hidefocus="true" class="android"></a>
                            <a href="http://v.mlyx.syyx.com/download/MLYX_SYI.ipa" hidefocus="true" class="jailbreak"></a>
                    </div>
                </div>
                <div class="section five">
                    <div class="content">
                        <a href="https://itunes.apple.com/cn/app/ma-la-ying-xiong/id986266831" hidefocus="true" target="_blank"
                            class="apple"></a>
                            <a href="http://v.mlyx.syyx.com/download/mlyx_sy.apk" hidefocus="true" class="android"></a>
                            <a href="http://v.mlyx.syyx.com/download/MLYX_SYI.ipa" hidefocus="true" class="jailbreak"></a>
                    </div>
                </div>
                <a href="javascript:void(0);" hidefocus="true" class="sc_left"></a>
                <a href="javascript:void(0);" hidefocus="true" class="sc_right"></a>
            </div>
        </div>
        <script src="http://s1.syyx.com/plugins/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="/javascripts/game/introduce.js" type="text/javascript"></script>
        <div class="disnone">
            <script src="http://s4.cnzz.com/stat.php?id=1254837125&amp;web_id=1254837125" type="text/javascript"></script>
        </div>
    </body>

</html>