<div id="mapModal" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#mapModal"></a>
    <h1 class="title">地图</h1>
  </header>

  <div class="content">
     <iframe id="mapUrl" src="" style="width:100%;height:100%;border:0;  overflow:hidden;">
     </iframe>  
  </div>
</div>