<%- include ../shared/_header %>
</head>
<body style="background-color:#ffffff;">
    <div  class="box-body chart-responsive"> 
        <div class="note note-danger note-bordered">
            <p> 错误 ：<%=message%></p>
        </div>      
        <a href="javascript:history.go(-1);"><span class="ladda-label">
                                                            <i class="icon-arrow-left"></i> 返回</span></a>             
    </div>

  </body>
<!-- END BODY -->
<%- include ../shared/_scripts %>
<%- include ../shared/_footer %>