        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
              <ul class="page-sidebar-menu page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                
                <li class="heading">
                  <h3 class="uppercase">示例</h3>
                </li>              
                <li class="start ">
                  <a href="javascript:;">
                  <i class="icon-home"></i>
                  <span class="title">导航菜单</span>
                  <span class="arrow "></span>
                  </a>
                  <ul class="sub-menu">
                    <li>
	<a href="Member"><i class="icon - bar - chart"></i>Member</a>
</li>
<li>
	<a href="OrderList"><i class="icon - bar - chart"></i>OrderList</a>
</li>
<li>
	<a href="OrderLog"><i class="icon - bar - chart"></i>OrderLog</a>
</li>
<li>
	<a href="SMS"><i class="icon - bar - chart"></i>SMS</a>
</li>

                  </ul>
                </li>
              </ul>
              <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
          