  <script>      
      $.get('/users/check_login', function(result){ 
          var member = result.member; 
          $("#loginAccount").html(member.account); 
          if(!member.isadmin){            
            $("#sys_setting").hide();
			$("#mintpass_rubbish").hide();
          }        
      });
  </script>
</body>
<!-- END BODY -->
</html>
