<!--
<div class="bar bar-tab">
  <a class="icon icon-home pull-left" href = "boss">首页</a>
  <a class="icon icon-close pull-right" href = "users/logout">退出</a>
</div>
-->
<nav class="bar bar-tab">
  <a class="tab-item" href="boss">
    <span class="icon icon-home"></span>
    <span class="tab-label">首页</span>
  </a>
  <a class="tab-item" href="users/logout">
    <span class="icon icon-person"></span>
    <span class="tab-label">退出</span>
  </a>
  
</nav>