<%- include ./shared/_header %>
  <%- include ./shared/_top %>

    <header class="bar bar-nav">
      <h1 class="title">订单信息</h1>
      <a href="javascript:;" onclick="javascript:history.back(-1);" class="icon pull-left">
        <i class="sstfont sst-xiangzuo"></i>
      </a>
    </header>

    <!--顶部搜索-->
    <!--主体-->
    
      
      <div class="content">
          <div class="weui-search-bar" id="searchBar">
              <form class="weui-search-bar__form" action="/orders/search" method="get">
                <div class="weui-search-bar__box">
                  <i class="weui-icon-search"></i>
                  <input type="text" class="weui-search-bar__input" id="searchInput" name="keywords" placeholder="请输入需要查找的代理商" value="" data-descriptions="jiemeng"
                    data-validate="jiemeng" required="">
                  <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                </div>
                <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                  <i class="weui-icon-search"></i>
                  <span>请输入需要查找的代理商</span>
                </label>
              </form>
              <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
            </div>
      <div class="weui-panel weui-panel_access" id="grid">
          <!-- <div class="weui-panel__hd">订单信息</div> -->
          <div class="weui-panel__bd" v-for = "(item, index) in DataList">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">              
              <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">时间：{{new Date(item.AddTime).toUTCFormat('YYYY-MM-DD')}}</h4>
                <p class="weui-media-box__desc">数量：{{item.Number}}</p>
                <p class="weui-media-box__desc">单价：¥{{item.Price}}</p>
                <p class="weui-media-box__desc">状态：{{get_status(item.Status)}}</p>
              </div>
            </a>             
          </div>
          <!-- <div class="weui-panel__ft">
            <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
              <div class="weui-cell__bd">查看更多</div>
              <span class="weui-cell__ft"></span>
            </a>    
          </div> -->
        </div>
    </div>
    <%- include ./shared/_scripts %>
    <script src="/javascripts/include/date-utils.min.js"></script>
      <script src="/javascripts/include/query.js"></script>
      <script src="/javascripts/orders.js"></script>
      <%- include ./shared/_footer %>
 