
<%- include ./shared/_header %>  
<%- include ./shared/_top %>   

<header class="bar bar-nav">
  <h1 class="title">修改密码</h1>
  <a href="javascript:;" onclick="javascript:history.back(-1);" class="icon pull-left"><i class="sstfont sst-xiangzuo"></i></a>
</header>
<div  class="content top-title">
<form id="pswd-form" class="input-group">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">旧密码：</label></div>
        <div class="weui-cell__bd">
         <input class="weui-input" name ="old_password"  type="password" placeholder="请输入旧密码">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">新密码：</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" name = "new_password"  type="password" placeholder="请输入新密码">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">确认密码：</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" name = "confirm_password"  type="password" placeholder="请输入确认密码">
        </div>
      </div>
       
    </div>
    <div class="weui-btn-area">
          <a class="weui-btn weui-btn_primary" href="javascript:" id="btnChange">确定</a>
        </div>
</div>
</form>
</div>
<%- include ./shared/_scripts %>
<script src="/javascripts/include/query.js"></script>
<script src="/javascripts/userpswd.js"></script>
<%- include ./shared/_footer %>
