
<%- include ./shared/_header %>  
<%- include ./shared/_top %>   

<header class="bar bar-nav">
  <h1 class="title">扫码注册</h1>
  <a href="javascript:;" onclick="javascript:history.back(-1);" class="icon pull-left"><i class="sstfont sst-xiangzuo"></i></a>
</header>
<div  class="content top-title">
  <div class="weui-msg">       
      <div class="weui-msg__text-area">
        <img src="/my_qrcode" alt="qrcode">        
        <p class="weui-msg__desc">扫码注册加入代理</p>
      </div>
    </div>
</div>
<%- include ./shared/_scripts %>
<script src="/javascripts/include/query.js"></script>
<%- include ./shared/_footer %>
