
<%- include ./shared/_header %>  
<%- include ./shared/_top %>   

<header class="bar bar-nav">
  <h1 class="title">业绩查询</h1>
  <a href="javascript:;" onclick="javascript:history.back(-1);" class="icon pull-left"><i class="sstfont sst-xiangzuo"></i></a>
</header>

<!--顶部搜索-->
<!--主体-->
<div class="content">
<div class="weui-search-bar" id="searchBar">
          <form class="weui-search-bar__form"  action="/zhougongjiemeng/index/search.html" method="get">
              <div class="weui-search-bar__box">
                  <i class="weui-icon-search"></i>
                  <input type="text" class="weui-search-bar__input" id="searchInput" name="keywords" placeholder="请输入需要查找的代理商" value="" data-descriptions="jiemeng" data-validate="jiemeng" required="">
                  <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
              </div>
              <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                  <i class="weui-icon-search"></i>
                  <span>请输入需要查找的代理商</span>
              </label>
          </form>
          <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
      </div>
<aside>
  <div class="menu-left scrollbar-none" id="sidebar">
    <ul>
      <li class="active">所有代理</li>
  <li>一级代理</li>
      <li>二级代理</li>
      <li>三级代理</li>
   
    </ul>
  </div>
</aside>
<section class="menu-right padding-all j-content">
  <h5>一级代理</h5>
  <ul>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
  </ul>
<h5>二级代理</h5>
  <ul>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
  </ul>
<h5>三级代理</h5>
  <ul>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
  </ul>
 
</section>
<section class="menu-right padding-all j-content" style="display:none">
  <h5>一级代理</h5>
  <ul>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
  </ul>
  
</section>
<section class="menu-right padding-all j-content" style="display:none">
  <h5>二级代理</h5>
  <ul>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
  </ul>
  
</section>
<section class="menu-right padding-all j-content" style="display:none">
  <h5>三级代理</h5>
  <ul>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
    <li class="w-3"><a href="pro_list.html"></a> <img src="upload/avatar.jpg"><span>老崔</span></li>
  </ul>
 
</section>

</div>
<%- include ./shared/_scripts %>
<script src="/javascripts/include/query.js"></script>
<script src="/javascripts/member.js"></script>
<%- include ./shared/_footer %>
<script type="text/javascript">
	$(function($){
		$('#sidebar ul li').click(function(){
			$(this).addClass('active').siblings('li').removeClass('active');
			var index = $(this).index();
			$('.j-content').eq(index).show().siblings('.j-content').hide();
		})
	})

	function about(){
			$.alert("视界5.0");
	}
</script>
